<mat-toolbar color="primary">
    <div style="display:flex; align-items:center; height:100%;">
        <span><a routerLink="/home">SwedishFromScratch</a></span>
        <a mat-button routerLink="/home" routerLinkActive="active-link"
            style="min-height:100%;">{{ls.localize('navigation-home')}}</a>
        <a mat-button routerLink="/xgen" routerLinkActive="active-link"
            style="min-height:100%;">{{ls.localize('navigation-xgen')}}
        </a>
        <a mat-button routerLink="/tablegen" routerLinkActive="active-link"
            style="min-height:100%;">{{ls.localize('navigation-table-gen')}}</a>
        <a mat-button routerLink="/gram-x" routerLinkActive="active-link"
            style="min-height:100%;">{{ls.localize('navigation-gram-x')}}</a>
    </div>

    <div style="float:right">
        <button mat-button [matMenuTriggerFor]="menu">{{ls.localize('language-selection-menu')}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item
                (click)="changeLanguage('english')">{{ls.localize('language-selection-english')}}</button>
            <button mat-menu-item
                (click)="changeLanguage('swedish')">{{ls.localize('language-selection-swedish')}}</button>
            <button mat-menu-item
                (click)="changeLanguage('russian')">{{ls.localize('language-selection-russian')}}</button>
            <!--<button mat-menu-item disabled="true">{{ls.localize('language-selection-ukrainian')}}</button>-->
        </mat-menu>
        <i class="material-icons">language</i>
    </div>

</mat-toolbar>

<div class="submenu" *ngIf="isXgenRoute && !onlyShowExercise">
    <div class="spacer2"></div>
    <a mat-button (click)="currentPageNumber = 0"
        [class.active-link]="currentPageNumber === 0">{{ls.localize('submenu-start')}}</a>
    <a mat-button (click)="currentPageNumber = 1"
        [class.active-link]="currentPageNumber === 1">{{ls.localize('submenu-review')}}</a>
    <a mat-button (click)="currentPageNumber = 2"
        [class.active-link]="currentPageNumber === 2">{{ls.localize('submenu-options')}}</a>
    <a mat-button (click)="currentPageNumber = 3"
        [class.active-link]="currentPageNumber === 3">{{ls.localize('submenu-view-lesson')}}</a>
</div>

<br>

<app-waiter></app-waiter>

<div class="margin-container">
    <div *ngIf="currentPage=='add'">
        <h2>{{ls.localize('header-create')}}</h2>

        <div *ngIf="currentPageNumber==0">
            <!--  <label id="example-radio-group-label">Choose your language</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="exerciseLanguage">
                    <mat-radio-button class="example-radio-button" *ngFor="let xlang of xlangs; let i = index"
                        [value]="xlang" [disabled]="i === 1">
                        {{xlang}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>-->
            <div class="prepared-lesson-container">
                {{ ls.localize('menu-select-lesson') }}
                <br /><br />
                <mat-form-field>
                    <mat-select [(value)]="manualLesson">
                        <mat-option *ngFor="let lesson of validLessons" [value]="lesson.lessonNumber">
                            {{ lesson.lessonNumber }} - {{ lesson.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br /><br />
                <button mat-button mat-raised-button color="primary" (click)="reviewManualExercise()">
                    {{ls.localize('button-review')}}
                </button>
            </div>
            <div style="float:left">
                {{ls.localize('menu-write-text')}}
                <br><br>
                <mat-form-field style="width: 30%;">
                    <input matInput type="number" [(ngModel)]="lessonNumber" placeholder="{{ls.localize('menu-ln')}}"
                        #ln autocomplete="off">
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;
                <mat-form-field style="width: 50%;">
                    <input matInput type="text" [(ngModel)]="lessonTitle"
                        placeholder="{{ls.localize('menu-lesson-title')}}" #title autocomplete="off">
                </mat-form-field>
                <br />
                <mat-form-field style="width: 90%;">
                    <textarea matInput [(ngModel)]="textareaValue" #newtext
                        placeholder="{{ls.localize('menu-enter-text')}}" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                        cdkAutosizeMaxRows="50">{{ textareaValue }}</textarea>
                </mat-form-field>
                <br /><br />
                <button mat-button mat-raised-button color="warn" (click)="clearForm()"
                    [disabled]="!(lessonNumber && lessonTitle && textareaValue)">{{ls.localize('button-clear')}}</button>
                &nbsp;&nbsp;&nbsp;
                <button mat-button mat-raised-button color="primary"
                    (click)="process(ln.value, title.value, newtext.value)">{{ls.localize('button-process')}}</button>
            </div>
        </div>
        <div *ngIf="currentPageNumber==1">
            <h3>{{ls.localize('header-check-info')}}</h3>
            <p>Below is a generated table for your exercise. In this step you can edit the contents of the table and add
                alternative answers. If you want to change the spelling of a word you can either do it here or go back
                to the previous page. If you fill in “alternative answers”, these will also be considered correct (as
                will the original word). Once you click “Next” the data that
                you've put here will be saved and processed. You can come back to this page at any time to edit. Just
                don't forget to click “Next” if you change something.</p>
            <button mat-button mat-raised-button color="primary" (click)="back()">
                {{ls.localize('button-back')}}
            </button>
            &nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button color="primary" (click)="next()">
                {{ls.localize('button-next')}}
            </button>
            &nbsp;&nbsp;&nbsp;
            <br />
            <app-waiter></app-waiter>
            <div class="help-right">
                <button *ngIf="!showValidPos" mat-button mat-raised-button (click)="togglePos()">
                    {{ls.localize('button-show-pos')}}</button>
                <button *ngIf="showValidPos" mat-button mat-raised-button
                    (click)="togglePos()">{{ls.localize('button-hide-pos')}}</button>
                <br /><br />
                <div *ngIf="showValidPos">
                    <div *ngFor="let posLabel of validLabels">
                        {{posLabels[posLabel]}}
                    </div>
                </div>
            </div>
            <br />
            <table>
                <tr>
                    <th>{{ls.localize('table-header-word')}}</th>
                    <th>{{ls.localize('table-header-lemma')}}</th>
                    <th>{{ls.localize('table-header-pos')}}</th>
                    <th>{{ls.localize('table-header-alt-ans')}} <mat-icon inline="true"
                            matTooltip="{{ls.localize('tooltip-alt-answers')}}">help</mat-icon>
                    </th>
                    <!-- <th>Multiple choice distractors (3)<mat-icon inline="true"
                            matTooltip="Enter a comma-separated list of 3 distractors for multiple-choice questions.">help</mat-icon>
                    </th>-->
                    <th>{{ls.localize('exclude-from-exercise')}} <mat-icon inline="true"
                            matTooltip="{{ls.localize('tooltip-exclude-word')}}">help</mat-icon></th>
                    <th>Delete</th>
                    <th></th>
                </tr>
                <tr *ngFor="let obj of posData; let i = index" class="uip">
                    <td><mat-form-field><input matInput type="text" [value]="obj['text']" #text
                                (blur)="posData[i]['text'] = text.value"></mat-form-field></td>
                    <td><mat-form-field><input matInput type="text" [value]="obj['lemma']" #lemma
                                (blur)="posData[i]['lemma'] = lemma.value"></mat-form-field></td>
                    <td><mat-form-field><input matInput type="text" [value]="obj['pos']" #pos
                                (blur)="posData[i]['pos'] = pos.value"></mat-form-field></td>
                    <td><mat-form-field><input matInput type="text" [(ngModel)]="altAnswer[i]" #altAnswerInput
                                (blur)="posData[i]['altAnswer'] = altAnswerInput.value"></mat-form-field></td>
                    <!-- <td><mat-form-field><input matInput type="text" #distractors
                                (blur)="posData[i]['distractors'] = distractors.value"></mat-form-field></td>-->
                    <td><mat-checkbox #exclude (change)="posData[i]['exclude'] = exclude.checked"></mat-checkbox></td>
                    <td><mat-icon (click)="deleteWord(i)"
                            style="color: darkred; cursor: pointer;">delete_forever</mat-icon></td>
                    <td><button *ngIf="obj['pos']==='MAD'" mat-button mat-raised-button (click)="insertLinebreak(i)"
                            [disabled]="getIsDisabled(i)">{{ls.localize('insert-linebreak')}}</button></td>
                </tr>
            </table>

            <br /><br />
            <button mat-button mat-raised-button color="primary" (click)="back()">
                {{ls.localize('button-back')}}
            </button>
            &nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button color="primary" (click)="next()">
                {{ls.localize('button-next')}}
            </button>
            &nbsp;&nbsp;&nbsp;
            <!--<button mat-button mat-raised-button color="warn" (click)="discard()">
            Discard
        </button>
        &nbsp;&nbsp;&nbsp;
        <button mat-button mat-raised-button color="warn" (click)="debug()">Debug</button>  -->
        </div>
        <div *ngIf="currentPageNumber==2">

            <h3>{{ls.localize('exercise-options')}}s</h3>
            <p>To create your exercise, you have a few choices on this page. You can select the parts of speech that
                will be turned into gaps. For instance, if you choose "verb," all verbs in the exercise (excluding those
                excluded in the previous step) will be considered for gap generation. Additionally, you can choose to
                exclude gaps from the first and last sentences and display the target items (answers) in a list.
                Finally, you can choose the gap distance. A smaller distance of 2 will create more gaps overall, while a
                larger distance of 5 will result in fewer gaps. </p>
            <br />
            <p> After making your selections, click "Preview exercise" to review your choices. If you're not satisfied,
                you can return to the previous page and make changes, but remember to click "Preview exercise" again
                after making any adjustments.</p>
            <br />
            <p> When you're satisfied with the exercise you've created you can click “Create link” on the next page and
                the exercise with your chosen settings can be sent to others.
            </p>

            <br />
            {{ls.localize('generate-x-pos')}}
            <br />
            <div *ngFor="let posLabel of validLabels">
                <mat-checkbox [(ngModel)]="isChecked[posLabel]"
                    [value]="posLabel">{{posLabels[posLabel]}}</mat-checkbox>
                <br />
            </div>

            <br />
            <mat-checkbox [(ngModel)]="excludeFirstSentence">{{ls.localize('exclude-first')}}
                <mat-icon inline="true" matTooltip="{{ls.localize('tooltip-first-sent')}}">help</mat-icon>
            </mat-checkbox>
            <br />
            <mat-checkbox [(ngModel)]="excludeLastSentence">{{ls.localize('exclude-last')}}
                <mat-icon inline="true" matTooltip="{{ls.localize('tooltip-last-sent')}}">help</mat-icon>
            </mat-checkbox>
            <br />
            <mat-checkbox [(ngModel)]="showItems">{{ls.localize('show-target-items')}} <mat-icon inline="true" matTooltip="{{ls.localize('tooltip-target-items')}}">help</mat-icon></mat-checkbox>
            <br />


            <br />
            {{ls.localize('include-only')}}
            <mat-form-field>
                <mat-select [(ngModel)]="selectedEveryX" everyx>
                    <mat-option value="2"> {{ls.localize('every-second')}}</mat-option>
                    <mat-option value="3"> {{ls.localize('every-third')}}</mat-option>
                    <mat-option value="4"> {{ls.localize('every-fourth')}}</mat-option>
                    <mat-option value="5"> {{ls.localize('every-fifth')}}</mat-option>
                </mat-select>
            </mat-form-field>
            {{ls.localize('..from-xgen')}}
            <br />


            <button mat-button mat-raised-button color="primary"
                (click)="back()">{{ls.localize('button-back')}}</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button color="primary"
                (click)="preview()">{{ls.localize('preview-exercise')}}</button>
            &nbsp;&nbsp;&nbsp;
            <!-- <button mat-button mat-raised-button color="warn" (click)="discard()">
            Discard
        </button> -->
        </div>
        <div *ngIf="currentPageNumber==3">
            <h2>{{lessonNumber }} {{ lessonTitle }} </h2>

            <div *ngIf="renderedData">
                <ng-container *ngFor="let word of posData; let i = index">
                    <ng-container *ngIf="word.pos === 'LINEBREAK'">
                        <br><br>
                    </ng-container>
                    <ng-container *ngFor="let vPos of validPos">
                        <ng-container *ngIf="vPos === word.pos">
                            <ng-container *ngIf="renderedData.includes(i)">
                                <input type="text" class="gap" [(ngModel)]="userInput[i]"
                                    [ngClass]="{'correct': isAnswerChecked[i] && isCorrect[i], 'incorrect': isAnswerChecked[i] && !isCorrect[i], 'white-gap': !isAnswerChecked[i]}"
                                    [id]="'gap-' + i" [size]="word.accept.length">
                                <ng-container
                                    *ngIf="posData[i + 1] && !['PUNCT', 'MAD', 'MID'].includes(posData[i + 1].pos)">
                                    &nbsp;
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!renderedData.includes(i)">
                                <span [innerHtml]="word.text" style="margin-right: 3px;"></span>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>


            <div class="panel-right">
                <div *ngIf="showItems">
                    <button mat-button mat-raised-button color="white"
                        (click)="toggleList()">{{ls.localize('menu-target-items')}}</button>
                    <br /><br />
                    <ul *ngIf="showListItems">
                        <ng-container *ngFor="let word of posData; let i = index">
                            <ng-container *ngFor="let vPos of validPos">
                                <ng-container *ngIf="vPos === word.pos">
                                    <li *ngIf="renderedData.includes(i)">
                                        <span [innerHtml]="word.text"></span>
                                    </li>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ul>
                </div>
            </div>


            <div *ngIf="totalCount>=1">
                <h2>{{ls.localize('score-feedback')}} {{correctCount}}/{{totalCount}}!</h2>
            </div>


            <br>
            <button mat-button mat-raised-button color="primary"
                (click)="back()">{{ls.localize('button-back')}}</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button (click)="checkAnswers(); AreAnswersChecked = true;"
                color="primary">{{ls.localize('exercise-check-answers')}}</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button (click)="showAnswers()"
                color="accent">{{ls.localize('exercise-show-answers')}}</button>


            <br /><br />


            <br /><br />
            <div *ngIf="!onlyShowExercise">
                <button mat-button mat-raised-button color="primary"
                    (click)="updateUrl()">{{ls.localize('create-url')}}</button>
                <br /><br />
                <div *ngIf="generatedUrl">
                    {{ls.localize('exercise-link')}}
                    <button mat-button (click)="copyToClipboard()" color="primary">
                        <mat-icon>file_copy</mat-icon> {{ls.localize('copy-url')}}
                    </button>
                    <br />
                    <span class="url-span">{{generatedUrl}}</span>
                </div>
            </div>
        </div>
    </div>