<mat-toolbar color="primary">
  <div style="display:flex; align-items:center; height:100%;">
    <span><a routerLink="/home">SwedishFromScratch</a></span>
    <a mat-button routerLink="/home" routerLinkActive="active-link" style="min-height:100%;">{{ls.localize('navigation-home')}}</a>
    <a mat-button routerLink="/xgen" routerLinkActive="active-link" style="min-height:100%;">{{ls.localize('navigation-xgen')}}
    </a>
    <a mat-button routerLink="/tablegen" routerLinkActive="active-link" style="min-height:100%;">{{ls.localize('navigation-table-gen')}}</a>
    <a mat-button routerLink="/gram-x" routerLinkActive="active-link" style="min-height:100%;">{{ls.localize('navigation-gram-x')}}</a>
  </div>




  <div style="float:right">
    <button mat-button [matMenuTriggerFor]="menu">{{ls.localize('language-selection-menu')}} <i class="material-icons">language</i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeLanguage('english')">{{ls.localize('language-selection-english')}}</button>
      <button mat-menu-item (click)="changeLanguage('swedish')">{{ls.localize('language-selection-swedish')}}</button>
      <button mat-menu-item (click)="changeLanguage('russian')">{{ls.localize('language-selection-russian')}}</button>
      <!--<button mat-menu-item disabled="true">{{ls.localize('language-selection-ukrainian')}}</button>-->
    </mat-menu>
  </div>

</mat-toolbar>

<div class="submenu" *ngIf="isTablegenRoute && !onlyShowExercise">
  <div class="spacer2"></div>
  <a mat-button (click)="currentPageNumber = 0" [class.active-link]="currentPageNumber === 0">{{ls.localize('submenu-start')}}</a>
  <a mat-button (click)="currentPageNumber = 1" [class.active-link]="currentPageNumber === 1">{{ls.localize('submenu-review')}}</a>
  <a mat-button (click)="currentPageNumber = 2" [class.active-link]="currentPageNumber === 2">{{ls.localize('submenu-options')}}</a>
  <a mat-button (click)="currentPageNumber = 3" [class.active-link]="currentPageNumber === 3">{{ls.localize('submenu-view-lesson')}}</a>
  <!-- <a mat-button (click)="currentPageNumber = 3" [class.active-link]="currentPageNumber === 3">View lesson</a>-->
</div>

<app-waiter></app-waiter>


<div class="table-container">

  <div *ngIf="currentPageNumber==0">

    <h2>{{ls.localize('first-table-header')}}</h2>
    <h3>{{ls.localize('second-table-header')}} </h3>
    <br>
    <br>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="inputValues[0]" matAutocomplete="off">
    </mat-form-field>
    <button mat-icon-button (click)="deleteInputField(0)">
      <mat-icon>delete</mat-icon>
    </button>

    <div *ngFor="let input of inputValues.slice(1); let i = index">
      <mat-form-field>
        <input matInput type="text" [value]="input" (ngModelChange)="onInputChange($event, i + 1)">
      </mat-form-field>
      <button mat-icon-button (click)="deleteInputField(i + 1)">
        <mat-icon>delete</mat-icon>
      </button>


    </div>


    <br>
    <button mat-icon-button (click)="addInputField()">
      <mat-icon>add_circle_outline</mat-icon></button>
    <br> <br>
    <button mat-button mat-raised-button color="warn" (click)="clearAll()">{{ls.localize('button-clear-all')}}</button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button mat-raised-button color="primary"
      (click)="create_big_table()">{{ls.localize('button-create-table')}}</button>


  </div>
  <div *ngIf="currentPageNumber==1 && tableData">
    <h3>{{ls.localize('header-edit-review')}}</h3>

    <p>{{ls.localize('tablegen-edit')}}</p>

    <div *ngFor="let table of tableData">
      <h3>{{ table.wordClass }} table</h3>
      <table>
        <thead>
          <tr>
            <ng-container *ngFor="let header of table.headers; let i = index">
              <th>{{ header }}</th>
              <th *ngIf="add_manual_rows && i === table.headers.length - 1">
                <button mat-raised-button color="primary" matTooltip="{{ls.localize('tooltip-add-row')}}"(click)="addNewRow(table)">Add to this table</button>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of table.rows; let i = index">
            <ng-container *ngFor="let value of row.values; let j = index">
              <td>
                <div class="table-cell">
                  <input matInput type="text" class="table-text" [(ngModel)]="table.rows[i].values[j]"
                    [ngModelOptions]="{updateOn: 'blur'}">
                </div>
              </td>
            </ng-container>
          </tr>
          <tr *ngIf="add_manual_rows">
            <ng-container *ngFor="let header of table.headers">
              <td>
                <div *ngIf="add_new_row" class="table-cell">
                  <input matInput type="text" class="table-text" [(ngModel)]="newRow[header]"
                    [ngModelOptions]="{updateOn: 'blur'}">
                </div>
              </td>
            </ng-container>
            <td>
              <button *ngIf="show_save_button" mat-raised-button color="accent" matTooltip="{{ls.localize('tooltip-save-row')}}" (click)="saveNewRow(table)">Save added row</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <button mat-button mat-raised-button color="primary" (click)="back()">
      {{ls.localize('button-back')}}
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button mat-raised-button color="primary" (click)="next()">
      {{ls.localize('button-next')}}
    </button>

  </div>
  <div *ngIf="currentPageNumber==2">

    <h3>{{ls.localize('choose-table-content')}}</h3>

    <p>{{ls.localize('tablegen-choose')}}</p>

    <div *ngFor="let choice of exerciseChoices">
      <mat-checkbox [(ngModel)]="isChecked[choice]" [value]="choice">{{choice}}</mat-checkbox>
      <mat-icon inline="true" *ngIf="isChecked[choice] && choice === 'Choose manually'"
        matTooltip="{{ls.localize('tooltip-manuel-choice')}}">help</mat-icon> <br />
    </div>

    <div *ngIf="isChecked['Choose manually']">
      <div *ngFor="let table of tableData; let tableIndex = index">
        <h3>{{ table.wordClass }} table</h3>
        <table>
          <thead>
            <tr>
              <ng-container *ngFor="let header of table.headers">
                <th>{{ header }}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of table.rows; let i = index">
              <ng-container *ngFor="let value of row.values; let j = index">
                <td class="cell-border">
                  <div class="table-cell" (click)="onCellClick($event, tableIndex, i, j)">
                    <input matInput type="text" class="table-text" [(ngModel)]="table.rows[i].values[j]"
                      style="cursor: pointer;" readonly>
                  </div>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>




    <button mat-button mat-raised-button color="primary" (click)="back_to_tables()">
      {{ls.localize('button-back')}}
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-button mat-raised-button color="primary" (click)="generateTable()">
      {{ls.localize('button-next')}}
    </button>
  </div>

  <div *ngIf="currentPageNumber==3">
    <h3>{{ls.localize('third-table-header')}}</h3>
    <div *ngFor="let table of generatedTable; let i = index">
      <h3>{{ table.wordClass }} table</h3>
      <table>
        <thead>
          <tr>
            <ng-container *ngFor="let header of table.headers">
              <th>{{ header }}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of table.rows; let j = index">
            <ng-container *ngFor="let value of row.values; let k = index">
              <td>
                <div class="table-cell table-cell-{{i}}-{{j}}"
                [ngClass]="{'white-gap': !isCellFilled[i][j], 'correct': isCorrect[i][j] && isCellFilled[i][j], 'incorrect': !isCorrect[i][j] && isCellFilled[i][j]}">
                <input type="text" class="table-text"
                  [(ngModel)]="table.rows[j].values[k]" #input
                  [ngModelOptions]="{updateOn: 'blur'}" autocomplete="off">
              </div>                           
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    
    <br>

    <div style="display: flex; justify-content: space-between;">
    <div *ngIf="!onlyShowExercise">
    <button mat-button mat-raised-button color="primary" 
      (click)="back_to_tables()">{{ls.localize('button-back')}}</button>
    </div>
    &nbsp;&nbsp;&nbsp;
    <button mat-button mat-raised-button (click)="checkAnswers()" 
      color="primary">{{ls.localize('exercise-check-answers')}}</button>

      </div>

      <br /><br />
      <div *ngIf="!onlyShowExercise">
          <button mat-button mat-raised-button color="primary" (click)="updateUrl()">{{ls.localize('create-url')}}</button>
          <br /><br />
          <div *ngIf="generatedUrl">
              {{ls.localize('exercise-link')}}
            <button mat-button (click)="copyToClipboard()" color="primary">
              <mat-icon>file_copy</mat-icon> {{ls.localize('copy-url')}}
            </button> 
            <br />                 
            <span class="url-span">{{generatedUrl}}</span>
          </div>
        </div>  

  </div>