<mat-toolbar color="primary">
  <div style="display:flex; align-items:center; height:100%;">
    <span><a routerLink="/home">SwedishFromScratch</a></span>
    <a mat-button routerLink="/home" routerLinkActive="active-link" style="min-height:100%;">Home</a>
    <a mat-button routerLink="/xgen" routerLinkActive="active-link" style="min-height:100%;">Create lesson
        <span class="arrow-down"></span>
    </a>
    <a mat-button routerLink="/tablegen" routerLinkActive="active-link" style="min-height:100%;">Generate tables</a>
    <a mat-button routerLink="/gram-x" routerLinkActive="active-link" style="min-height:100%;">Grammar</a>
    <a mat-button routerLink="/url-create" routerLinkActive="active-link" style="min-height:100%;">URL</a>
  </div>

  <div style="float:right">
      <button mat-button [matMenuTriggerFor]="menu">{{ls.localize('language-selection-menu')}}</button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item
              (click)="changeLanguage('english')">{{ls.localize('language-selection-english')}}</button>
          <button mat-menu-item
              (click)="changeLanguage('swedish')">{{ls.localize('language-selection-swedish')}}</button>
          <button mat-menu-item
              (click)="changeLanguage('russian')">{{ls.localize('language-selection-russian')}}</button>
          <!--<button mat-menu-item disabled="true">{{ls.localize('language-selection-ukrainian')}}</button>-->
      </mat-menu>
      <i class="material-icons">language</i>
  </div>

</mat-toolbar>

<p>saved URLS</p>